@import "mainsection/contact.scss";
@import "mainsection/index.scss";
@import "mainsection/departments.scss";
@import "mainsection/timetable.scss";
@import "mainsection/singledepartment.scss";
@import "mainsection/doctors.scss";
@import "mainsection/loginregister.scss";
@import "mainsection/singledoctor.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
